/* فونت و ریست */
body {
  margin: 0;
  font-family: tahoma, sans-serif;
  background: linear-gradient(135deg, #3e2723, #6d4c41, #a1887f);
  color: #fff;
}

/* هدر */


.logo {
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 1rem;
}


/* هرو */
.hero {
  position: relative;
  text-align: center;
}

.headerimg {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: 0 0 2rem 2rem  
}

.argalogo{
	width: 7rem;
	position: absolute;
	top: 1px;
	left: 50%;
	transform: translateX(-50%);
}

/* کارت‌ها */
.menu {
  padding: 40px 20px;
  text-align: center;
}



.menu h5 {
    color: #ffcc80;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1.3rem;
    text-align: right;
    border-radius: 2rem;
    border-right: 3px solid #FFFFFF;
    border-bottom: 3px solid #FFFFFF;
    padding: 1rem;
    transition: all .4s;
}

.card {
  display: flex;
  align-items: center;
  background: rgba(255,255,255,0.1);
  border-radius: 15px;
  margin: 20px auto;
  max-width: 800px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

.card img {
  width: 40%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  padding: 20px;
  text-align: right;
  flex: 1;
}

.card-content h3 {
  margin: 0 0 10px;
  font-size: 22px;
  color: #ffcc80;
}

.card-content p {
  font-size: 16px;
  margin: 10px 0;
}

.price {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  color: #ffd54f;
}

/* واکنش‌گرا */
@media (max-width: 768px) {
  .card {
    flex-direction: column;
  }

  .card img {
    width: 100%;
  }

  .card-content {
    text-align: center;
  }
}

/* دکمه اسکرول به بالا */
#scrollBtn {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 99;
  font-size: 22px;
  border: none;
  outline: none;
  background: linear-gradient(135deg, #6b4226, #c69c72); /* گرادینت کافه‌ای */
  color: white;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  transition: 0.3s;
  display: none; /* اول مخفیه */
}

#scrollBtn:hover {
  background: linear-gradient(135deg, #c69c72, #6b4226);
  transform: scale(1.1);
}


/* فوتر */
footer {
  text-align: center;
  padding: 20px;
  background: rgba(0,0,0,0.7);
  margin-top: 30px;
  font-size: 14px;
}
